
<html>
<head>
    <meta charset="UTF-8">
    <title>toGray</title>

    <!--两张图片格式为左浮动，处在一行-->
    <style type="text/css">
        .InputOutput{
            float: left;
            margin: 10px;
        }
    </style>
</head>
<body>
<h1><%= message %>></h1>>
<h2><%= error.status %>></h2>
<h3><%= error.stack %>></h3>
</body>
</html>
